@import '../node_modules/bootstrap/scss/bootstrap';

.col-sm-4 {
    padding: 1rem 1rem;
    background-color: #d2e1f9;
    border-left: 2px solid #ffffff;
      .btn-primary {
        margin: 0.5rem;
        background-color: #A5C3F3;
        border: none;
      }
        .btn-primary:hover {
         background-color: #6A92C4;
        }
  }
  
  .testimonials {
    background-color: #ffffff;
      .card {
        background-color: #ffffff;
        border: none;
        border-radius: 0;
      }
  }
  
  

  .imd {
    background-color: #A5C3F3;
    padding: 5rem 0;
    .imdText {
    text-align: center;
    }
  }

  .ProgramSummary {
    padding: 1rem 1rem;
    background-color: #ffffff;
    .ProgramSummaryText {
      text-align: center;
    }
  }
  
  .fees {
    padding: 1rem 1rem;
    .FeesText {
      text-align: left;
    }
  }

  .pathwaysText {
    margin: 8px;
  } 

  .testimonialsText {
    padding:1rem 1rem;
    text-align: center;
    }