@import '../node_modules/bootstrap/scss/bootstrap';
body {
    background-color: #d3f3ff;
}

/*-------MOBILE CONTACT PAGE--------*/
h1 {
    font-size: 25px;
}

h2, h3, label {
    font-size: 20px;
}

// contact form // 
form {
    display: block;
    width: auto;
    align-content: center;
    background-color: #A5C3F3;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    color:black;
}

input[type=text], select, textarea {
    width: 95%;
}

.button {
    display: flex;
    justify-content: center;
    width: auto;
}

// submit button // 
input[type=submit] {
    background-color: #04703c;
    color: white;
    display: block;
    margin: 15px;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: 40%;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

.checkbox {
  display: block;
  position: relative;
  padding-top: px;
  padding-left: 40px;
  margin: 10px;
}

//custom checkbox //
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
}

.checkbox input:checked ~ .checkmark {
  background-color: #04703c;
}

// input field titles // 
.label {
    display: inline-block;
    padding: 10px 0 10px 4px;
}
input, textarea {
    width: calc( 100% - 1rem);
    padding: 0.5rem;
}

.center {
    display: flex;
    align-items: center;
}
.campus-info-img {
    width: 350px;
    height: auto;
    margin: auto;
}

.campus-info-text {
    background-color: #b0c2e5;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
}

/*----- DESKTOP CONTACT PAGE -------*/
@media only screen and (min-width: 60rem) {

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;



    .section-1 {
        width: 70%;
    }

    .campus-info-text {
        width: 100%;
    }
    img {
        width: 350px;
        height: auto;
       }
  }


  }

  h2, h3 {
    font-size: 300px; 
    text-align: center;
  }



/*----------MOBILE individual profs---------*/
h1 {
    font-size: 35px;
}
h2, h3 {
    font-size: 20px;
}
// back to Profs page button// 
.btn-success {
    margin: 20px;
    background-color: #04703c;
}
.prof-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

//first box//
.section-1 {
    background-color: #A5C3F3;
    padding: 20px;
    margin: 30px;
    border-radius: 3px;
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
}
//second box// 
.section-2 {
    background-color: #6A92C4;
    padding: 5px;
    margin: 30px;
    border-radius: 3px;
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
}
//individual course link button// 
.btn-light {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}