  //-------------------------------------------------------------COURSE PAGE
  h2 {
    text-align: center;
    padding: 1rem;
  }

  .course_description {
    text-align: center;
  }
  
  .courses {
    width: 100%;
    margin: 20px auto;

  .collapsible {
    background-color: #6a92c4;
    color: white;
    cursor: pointer;
    padding: 18px;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    border: none;
    text-align: center !important;
    outline: none;
    font-size: 2rem;;
}
.active, .collapsible:hover {
    background-color: rgb(190, 220, 255);
    color: black;
}
.content {
    margin: 1rem;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: white; 
    p, h4 ,h5{
      padding: 1rem 1rem 0 1rem;
    }
}
  }