@import '../node_modules/bootstrap/scss/bootstrap';
.topheader{
  img{
    width: 100%;
    padding: 0;
  }
}

img{
    width: 50%;
    padding: .5rem;
  }
  .index-button {
    .btn{
      width: calc(50% - 2rem);
      margin: 1rem;
      float: left;
      font-size: 1rem !important;
      background-color: green !important;
      padding: 0.5rem !important;
    }
  }
 
  .header-section{
    img{
        width: 75%;
        display: block;
        margin: auto;
        margin-top: 1rem;
       padding: 0;
    }
  }
    .header {
      img{
        width: 100%;
      }
    }
    h1 {
      color: black;
      text-align: center;
      font-size: 3rem;
      font-weight: 100;
      font-family: sans-serif;
    }