//---------------------------------------------------------------------Prof overview Page
.backtocourses{
    position: absolute;
    font-size: 2rem !important;
    color:white;
    font-size: 1rem !important;
    border: 1px solid green !important;
    background-color: green !important;
    padding: 1rem !important;
  }
  .table-dark.table-bordered{
    border: $primary-color !important;
  }
  .table-dark {
    background-color: #a5c3f3 !important;
    width: 75% !important;
    margin: auto !important;
  
  }
  td{
    font-size: 1.5rem;
  }
  
  .hoverprofs{
    color:white;
  }