// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
$primary: #006341; // set the primary color to AC Green
$jumbotron-bg: #E5EFEC; // set the Jumbotron background to AC Green @10% tint
$hr-border-color: #909390; // set the <hr> border colour to AC Charcoal @50% tint

$primary-color:  #d2e1f9;
@import "index";
@import "courses";
@import "profs";
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: $primary-color;
  }
  //-------------------------------------------------------------------NAV BAR
  footer{
    nav{
      margin-top: 6rem;
    }
    p{
      text-align: center;
      font-family: sans-serif;
    }
  }
  nav {
      background-color: #6a92c4;
      -webkit-box-shadow: 0 10px 8px -8px grey;
      -moz-box-shadow: 0 10px 8px -8px grey;
       box-shadow: 0 10px 8px -8px grey;
      width: 100%;
      margin-bottom: 3rem;
      text-decoration: none;
      text-align: center;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      
      ul {
        list-style-type: none;
        padding: 0.5rem;
    
      }
      li { 
      text-align: center;
      }
      a {
    
        font-weight: bolder;
        font-size: 1.5rem;
        width: 16%;
        text-decoration: none;
        color: black;
      
      } 
  }
  //---------------------------------------------------------------desktop
@media only screen and (min-width: 60rem) {
  nav{
    height: 50px;
    a{
      float: left;
    }
  }
}