//---------------------------------------------------------------------------- VARIABLES
$ac-green:  #00703C;
$bcg-2: #A5C3F3;
$bcg-3: rgba(165, 195, 243, 0.5);

//---------------------------------------------------------------------------- PARTIALS
@import '../node_modules/bootstrap/scss/bootstrap';
@import "indivCourses";
@import "indivProfs";
@import "nav";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  p {
    font-size: 20px;
  }

  h2 {
    text-align: center;
    margin: 10px;
  }
  
  @media only screen and (min-width: 60rem) {
    h1, h2 {
      text-align: center;
      margin: 10px;
      font-size: 50px;
    }
  }
}
  