@import '../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #d3f3ff;
    padding: 1rem;
  }
  img {
    width: 25%;
    height: auto;
  }
  
  .header-section{
    img{
      width: 100%;
      padding-top: 1rem;
    }
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    font-family: sans-serif;
  }
  .container{
    position: relative;
    .btn{
        background-color: #042a44;
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: 2rem;
        border-color: #042a44;
        padding: 1rem 6rem 1rem 6rem;
        a {
          text-decoration: none;
          color: white;
        }
    } .btn:hover { 
      background-color: white;
      a{
        color: black;
      }
  }
  }
  footer{
    nav{
      margin-top: 6rem;
    }
    p{
      text-align: center;
      font-family: sans-serif;
    }
  }
  nav {
      background-color: #042a44;
      width: 100%;
      height: 50px;
      text-align: center;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      
      ul {
        list-style-type: none;
        margin: 5px;
        padding: 0.5rem;
    
      }
      li {  
      text-align: center;
      }
      a {
        float: left;
        width: 16%;
        margin-top: 10px;
        text-decoration: none;
        color: white;
      
      } 
  }
  .container > div > img {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
  } 
  .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  form {
      background-color: #042a44;
      width: 100%;
      margin-top: 2rem;
      font-family: sans-serif;
      color:white;
      padding-bottom: 6rem;
  }
  input[type=text],
  select,
  textarea {
    width: 95%;
  }
  input[type=submit] {
    background-color: #0073c0;
    color: white;
    display: flex;
    display: block;
    max-width: 300px;
    margin: 15px;;
    padding: 15px;
    width: 200px;
    border: none;
    cursor: pointer;
    float: left;
  }
  .buttons {
    padding: 10px 0 10px 4px;
  }
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }
  
  label {
    display: block;
    padding: 10px 0 10px 4px;
  }
  
  input,
  textarea {
    width: 95%;
    padding: 0.5rem;
  }
  input{
    text-align: center;
  }
  fieldset {
    border: none;
  }
  fieldset:nth-child(4) input {
    width: auto;
  }
  /*GOOGLE MAP*/
  iframe {
      width: calc( 100% - 1rem);
      height: 380px;
      margin: 1rem;
      padding: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  /*CONTACT PAGE COLUMNS*/
  .contact_column {
      float: left;
      width: 50%;
  }
  
  .contact_page_columns:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .professors {
    div{
      background-color: #a6d5e9;
      p{
        font-family: sans-serif;
      }
    }
  }