//---------------------------------------------------------------------------- VARIABLES
$primary-color:  #d2e1f9;

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

//---------------------------------------------------------------------------- HEADER SECTION
  
  header {
    img {
      width: 100%;
      height: auto;
    }

    nav {
      background-color: #6a92c4;
      -webkit-box-shadow: 0 2px 30px 2px #333;
      -moz-box-shadow: 0 2px 30px 2px #333;
      box-shadow: 0 2px 30px 2px #333;
      width: 100%;
      text-align: center;
      margin: none;
      position: relative;
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        a {
          font-size: 1.5rem;
          color: black;
      
          li {
          border-bottom: 1px solid #425B7A;
          padding: 10px;        
          }

          li:hover {
            background-color: rgba(165, 195, 243, 0.5);
          }
        }

        a:hover {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }


  //---------------------------------------------------------------------------- HOME PAGE




  //---------------------------------------------------------------------------- ABOUT PAGE
  
  
  
  
  //---------------------------------------------------------------------------- SCHEDULES




  //--------------------------------------------------------------------------- COURSES PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL COURSES PAGES
  p {
    font-size: 20px;
  }

  h2 {
    text-align: center;
    margin: 10px;
  }

  .course1 {
    background-color: #A5C3F3;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-success {
      width: 100%;
      height: 60px;
      font-size: 20px !important;
      padding: 0 10px !important;
    }

    .btn-success:hover {
      opacity: 0.9!important;
    }

    p {
      width: 90%;
      margin: auto;
    }
  }

  .course2 {
    background-color: rgba(165, 195, 243, 0.5);
  }

  .course3 {
    background-color: #A5C3F3;
  }

  .course2, .course3 {
    padding: 20px 0 40px 0;

    .table {
      background-color: white;
      width: 90%;
      margin: 0 auto;
      border-radius: 10px;
      overflow: hidden;

      table {
        width: 100%;

        tr {
          background-image: radial-gradient(black 2px, white 0px);
          background-size: 15px 15px;
          background-repeat: repeat-x;
          background-position: center;

          td {
            padding: 10px 0;

            span {
              background-color: white;
            }

            span:first-child {
              border-right: 10px solid white;
            }

            span:last-child {
              border-left: 10px solid white;
            }
          }

          td:first-child {
            border-left: 20px solid white;
            border-top: 20px solid white;
            border-bottom: 20px solid white;
          }

          td:last-child {
            border-right: 20px solid white;
            border-top: 20px solid white;
            border-bottom: 20px solid white;
            text-align: right;
          }
        }
      }
    }    
  }
    
  .course4 {
    background-color: rgba(165, 195, 243, 0.5);
    padding: 20px 0 40px 0;
  
    .courseprofs {
      background-color: white;
      border-radius: 10px;
      width: 60%;
      padding: 10px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: black;
        padding: 10px;
      }
  
      a:hover {
        font-weight: bold;
        color: #333;
      }
    }
  }


  //---------------------------------------------------------------------------- PROFS PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL PROFS PAGES



  //---------------------------------------------------------------------------- CONTACT PAGE



  //---------------------------------------------------------------------------- FOOTER

  


  
  @media only screen and (min-width: 60rem) {

//---------------------------------------------------------------------------- NAVIGATION
    nav {
      height: 50px;

      ul {
        display: flex;
        justify-content: space-between;

        a {
          width: 100%;
          font-size: 1rem!important;

          li {
            border-left: 1px solid #425B7A;
            border-bottom: 0;
            height: auto;
            padding: 13px!important;
          }

          li:last-child {
            border-bottom: none;
          }
        }
      }
    }


//---------------------------------------------------------------------------- HOME PAGE




  //---------------------------------------------------------------------------- ABOUT PAGE
  
  
  
  
  //---------------------------------------------------------------------------- SCHEDULES




  //--------------------------------------------------------------------------- COURSES PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL COURSES PAGES
    .course1 {
      display: inherit;
        
      .btn-success {
        width: 150px;
        height: 40px;
        font-size: 10px !important;
        margin-left: 50px;
      }
  
      h2 {
        margin: auto;
        width: 50%;
      }

      p {
        width: 50%;
      }
    }

    .course2, .course3 {
      .table {
        width: 50%;
      }
    }

    .course4 {
      .courseprofs {
        width: 30%;
      }
    }
  }


  //---------------------------------------------------------------------------- PROFS PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL PROFS PAGES



  //---------------------------------------------------------------------------- CONTACT PAGE



  //---------------------------------------------------------------------------- FOOTER
}

  @import '../node_modules/bootstrap/scss/bootstrap';