//---------------------------------------------------------------------------- VARIABLES
$ac-green:  #00703C;
$bcg-3: rgba(165, 195, 243, 0.5);

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  p {
    font-size: 20px;
  }

  h2 {
    text-align: center;
    margin: 10px;
  }

//---------------------------------------------------------------------------- HEADER SECTION
  
  header {
    img {
      width: 100%;
      height: auto;
    }

    nav {
      background-color: #6a92c4;
      -webkit-box-shadow: 0 2px 30px 2px #333;
      -moz-box-shadow: 0 2px 30px 2px #333;
      box-shadow: 0 2px 30px 2px #333;
      width: 100%;
      text-align: center;
      margin: none;
      position: relative;
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        a {
          font-size: 1.5rem;
          color: black;
      
          li {
          border-bottom: 1px solid #425B7A;
          padding: 10px;        
          }

          li:hover {
            background-color: rgba(165, 195, 243, 0.5);
          }
        }

        a:hover {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }


  //---------------------------------------------------------------------------- HOME PAGE




  //---------------------------------------------------------------------------- ABOUT PAGE
  
  
  
  
  //---------------------------------------------------------------------------- SCHEDULES




  //--------------------------------------------------------------------------- COURSES PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL COURSES PAGES

  .course1 {
    background-color: #A5C3F3;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn-success {
      width: 100%;
      height: 60px;
      font-size: 20px !important;
      padding: 0 10px !important;
      background-color: $ac-green;
    }

    .btn-success:hover {
      opacity: 0.9!important;
    }

    p {
      width: 90%;
      margin: auto;
    }
  }

  .course2 {
    background-color: rgba(165, 195, 243, 0.5);
  }

  .course3 {
    background-color: #A5C3F3;
  }

  .course2, .course3 {
    padding: 20px 0 40px 0;

    .table {
      background-color: white;
      width: 90%;
      margin: 0 auto;
      border-radius: 10px;
      overflow: hidden;

      table {
        width: 100%;

        tr {
          background-image: radial-gradient(black 2px, white 0px);
          background-size: 15px 15px;
          background-repeat: repeat-x;
          background-position: center;

          td {
            padding: 10px 0;

            span {
              background-color: white;
            }

            span:first-child {
              border-right: 10px solid white;
            }

            span:last-child {
              border-left: 10px solid white;
            }
          }

          td:first-child {
            border-left: 20px solid white;
            border-top: 20px solid white;
            border-bottom: 20px solid white;
          }

          td:last-child {
            border-right: 20px solid white;
            border-top: 20px solid white;
            border-bottom: 20px solid white;
            text-align: right;
          }
        }
      }
    }    
  }
    
  .course4 {
    background-color: rgba(165, 195, 243, 0.5);
    padding: 20px 0 40px 0;
  
    .courseprofs {
      background-color: white;
      border-radius: 10px;
      width: 60%;
      padding: 10px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: black;
        padding: 10px;
      }
  
      a:hover {
        font-weight: bold;
        color: #333;
      }
    }
  }


  //---------------------------------------------------------------------------- PROFS PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL PROFS PAGES
  .dedic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: $bcg-3;

    // back to Profs page button// 
    .btn-success {
      height: 60px;
      font-size: 20px !important;
      padding: 0 10px !important;
      background-color: $ac-green;
    }

    .btn-success:hover {
      opacity: 0.9!important;
    }

    .prof-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    //first box// 
    .section-1 {
      background-color: white;
      width: 90%;
      border-radius: 10px;
    }

    //second box// 
    .section-2 {
      background-color: white;
      border-radius: 10px;
    }

    //individual course link button// 
    .btn-light {
        display: flex;
        justify-content: center;
        width: 250px;
        margin: auto;
        margin-bottom: 10px;
    }

    //back to top button// 
    #top {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
    }
  }




  //---------------------------------------------------------------------------- CONTACT PAGE



  //---------------------------------------------------------------------------- FOOTER

  


  
  @media only screen and (min-width: 60rem) {
  
    h2 {
      text-align: center;
      margin: 10px;
    }

//---------------------------------------------------------------------------- NAVIGATION
    nav {
      height: 50px;

      ul {
        display: flex;
        justify-content: space-between;

        a {
          width: 100%;
          font-size: 1rem!important;

          li {
            border-left: 1px solid #425B7A;
            border-bottom: 0;
            height: auto;
            padding: 13px!important;
          }

          li:last-child {
            border-bottom: none;
          }
        }
      }
    }


//---------------------------------------------------------------------------- HOME PAGE




  //---------------------------------------------------------------------------- ABOUT PAGE
  
  
  
  
  //---------------------------------------------------------------------------- SCHEDULES




  //--------------------------------------------------------------------------- COURSES PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL COURSES PAGES
    .course1 {
      display: inherit;
        
      .btn-success {
        width: 150px;
        height: 40px;
        font-size: 10px !important;
        margin-left: 50px;
      }
  
      h2 {
        margin: auto;
        width: 50%;
      }

      p {
        width: 50%;
      }
    }

    .course2, .course3 {
      .table {
        width: 50%;
      }
    }

    .course4 {
      .courseprofs {
        width: 30%;
      }
    }
  }


  //---------------------------------------------------------------------------- PROFS PAGE



  //---------------------------------------------------------------------------- INDIVIDUAL PROFS PAGES
  .dedic {
  
    .prof-img {
      display: block;
      max-width: 350px;
    }

    .campus-info-text {
      background-color: #b0c2e5;
      padding: 15px;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
    }

    .section-1 {
      background-color: #A5C3F3;
      padding: 5px;
      margin: 30px;
      border-radius: 3px;
      box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
    }

    .section-2 {
      background-color: #6A92C4;
      padding: 5px;
      margin: 30px;
      border-radius: 3px;
      box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.4);
    }

    #top {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
   }
  }



  //---------------------------------------------------------------------------- CONTACT PAGE



  //---------------------------------------------------------------------------- FOOTER
}

  @import '../node_modules/bootstrap/scss/bootstrap';